[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pygments = "*"

[packages]
sanic = "*"
pyhumps = "*"
pytest-sanic = "*"
coverage = "*"
coverage-badge = "*"
twine = "*"
mypy = "*"

[requires]
python_version = "3.7"
