[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pygments = "*"
pdbpp = "*"

[packages]
sanic = "*"
pyhumps = "*"
pytest-sanic = "*"
coverage = "*"
coverage-badge = "*"
twine = "*"
mypy = "*"
jeepney = ">=0.4.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
